<div class="main home">
	<div class="jumbotron">
		<div class="container">
			<h2>Hello. My name is <span class="highlight">Wissam Sameut</span> and I have creative ideas and build websites. For me <span class="highlight">"The Best Way to Learn is to Work!"</span></h2>
				<%= link_to "View my Work", {controller: 'pages', action: 'portfolio'},{class: 'btn right'} %>
		</div>
	</div>
</div>