/*#play
{
	overflow:hidden;
	margin:0;
	padding:0;
	height:100%;
	font-family: 'Chewy', cursive;
	color:#fff;
	font-size:x-large
}

canvas 
{
	position:absolute;
	width:100%;
	height:100%;
	overflow:hidden;
	cursor:pointer;
}