<!DOCTYPE html> 
<html>
    <head>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
      <title>MY MAPS</title>
      <style>
          body
          {
            font-family:Arial;
            background:#000000;
            margin:0px;
            padding:0px;
          }

          #container #full_screen_part
          {
            width:800px;
            height:600px;
            margin:auto;
            margin-top: 70px;
          }

          #container
          {
            position:relative;
            width:990px;
            margin:auto;
            background:#FFFFFF;
            padding:20px 0px 20px 0px;
          }

          #container #panel
          {
            background-color: #FFFFFF;
            width:700px;
            margin:auto;
            width: 990px;
            height: 115px;
          }

          .adp
          {
            background-color: #FFFFFF;
          }

          .adp-legal
          {
            color: #FFFFFF;
          }

          #container #back
          {
            background:#000000;
          }

          #container #destinationForm
          {
            width: 150px;
            height: 115px;
            position:relative;
            color: #FFFFFF;
            margin:auto;
            padding:10px 20px;
          }

          #container #destinationForm input[type=button]
          {
            display: block;
            width: 50px;
            position:relative;
            margin:auto;
          }

          #container #full_screen_part:-moz-full-screen {
              width: 100%;
              height: 100%;
          }
          #container #full_screen_part:-webkit-full-screen {
              width: 100%;
              height: 100%;
          }
          #container #full_screen_part:fullscreen {
              width: 100%;
              height: 100%;
          }
      </style>
      <%= csrf_meta_tags %>
    </head>

    <body>
  		<%= yield %>
  	  <script type="text/javascript" src="https://maps.google.com/maps/api/js?sensor=true"></script>
      <%= javascript_include_tag "map.js", 'data-turbolinks-track' => true %>
    </body>
</html>
