<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="FR">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  		<link href='http://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'/>
  		<link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'/>
  		
    	<title>COMPAGNY LOGO</title>
    	<%= csrf_meta_tags %>
    	<style>
		body
			{
			width: 1180px;
			font-family: Droid Sans, arial, serif;
			font-size: 11px;
			color: #7c7c7c;
			margin: 0px;
			}

		ul
			{
			list-style: none;
			width: 100px;
			margin-top: 20px;
			padding-left: 0px;
			}

		li
			{
			padding-left: 5px;
			margin-bottom: 5px;
			}

		p
			{
			width: 198px;
			font-size: 12px;
			margin-bottom: 15px;
			margin-top: 0px;
			line-height: 20px;
			}

		#header
			{
			height: 182px;
			color: #767676;
			background-color: #f9f9f9;
			background-image: url("grid1.png");
			background-repeat: repeat;
			}

		#logo
			{
			float: left;
			margin-top: 40px;
			margin-left: 121px;
			}

		#bloc1
			{
			float: left;
			margin-top: 38px;
			margin-left: 154px;
			}

		#bloc1 a
			{
			font-family: Oswald, arial, serif;
			text-decoration: none;
			font-size: 14px;
			color: #767676;
			}

		#main1
			{
			display: block;
			float: left;
			padding-right: 26px;
			padding-bottom: 7px;
			}

		#link1 a, #link2 a, #link3 a, #link4 a, #link5 a
			{
			font-family: Droid Sans, arial, serif;
			text-decoration: none;
			font-size: 11px;
			color: #7c7c7c;
			}

		#menu1
			{
			font-weight: bold;
			padding-left: 5px;
			padding-right: 61px;
			padding-bottom: 7px;
			border-bottom: 5px solid #f76900;
			}


		#main2
			{
			display: block;
			float: left;
			padding-right: 23px;
			padding-bottom: 7px;
			}

		#menu2
			{
			font-weight: bold;
			padding-left: 5px;
			padding-right: 35px;
			padding-bottom: 7px;
			border-bottom: 5px solid #fcd04a;
			}

		#main3
			{
			display: block;
			float: left;
			padding-right: 25px;
			padding-bottom: 7px;
			}

		#menu3
			{
			font-weight: bold;
			padding-left: 5px;
			padding-right: 33px;
			padding-bottom: 7px;
			border-bottom: 5px solid #b9d482;
			}

		#main4
			{
			display: block;
			float: left;
			padding-right: 25px;
			padding-bottom: 7px;
			}

		#menu4
			{
			font-weight: bold;
			padding-left: 5px;
			padding-right: 53px;
			padding-bottom: 7px;
			border-bottom: 5px solid #3d92c2;
			}

		#main5
			{
			display: block;
			float: left;
			padding-right: 26px;
			padding-bottom: 7px;
			}

		#menu5
			{
			font-weight: bold;
			padding-left: 5px;
			padding-right: 56px;
			padding-bottom: 7px;
			border-bottom: 5px solid #c078d0;
			}

		.border 
			{
			background: #F0F0F0;
			height: 1px;
			margin-top: 10px;
			margin-bottom: 30px;
			display: block;
			}

		#bloc2
			{
			margin-top: 10px;
			padding-top: 30px;
			padding-left: 121px;
			border-top: 1px solid #F0F0F0;
			border-bottom: 1px solid #F0F0F0;
			margin-bottom: 10px;
			padding-bottom: 30px;
			}

		.img
			{
			border: 1px solid #F0F0F0;
			padding: 10px;
			margin-right: 16px;
			}


		#bloc3
			{
			height: 116px;
			color: #767676;
			background-color: #f9f9f9;
			background-image: url("grid1.png");
			background-repeat: repeat;
			}

		#span1
			{
			display: block;
			font-style: italic;
			font-size: 22px;
			text-align: center;
			color: #B6B6B6;
			padding-top: 45px;
			}

		#bloc4
			{
			height: 350px;
			border-top: 1px solid #F0F0F0;
			margin-top: 10px;
			padding-top: 30px;
			border-bottom: 1px solid #F0F0F0;
			margin-bottom: 10px;
			padding-bottom: 30px;
			}

		#bloc4b
			{
			display: block;
			float: left;
			width: 208px;
			height: 330px;
			padding-left: 10px;
			padding-top: 19px;
			margin-left: 121px;
			border: 1px solid #F0F0F0;
			}

		#box1
			{
			height: 350px;
			display: block;
			float: left;
			border-left: 2px solid #f5f4f4;
			margin-top: 3px;
			}

		#box2
			{
			height: 2px;
			width: 218px;
			border-bottom: 2px solid #f5f4f4;
			margin-left: 124px;
			margin-top: 349px;
			}


		.title
			{
			font-family:  Oswald, arial, serif;
			font-weight: bold;
			font-size: 18px;
			color: #e77927;
			}

		.sstitle
			{
			margin-top: 5px;
			display: block;
			color: #A6A6A6;
			font-style: italic;
			margin-bottom: 8px;
			}

		#imgmenu
			{
			padding-bottom: 5px;
			}

		#read
			{
			display: block;
			font-family: 'Droid Serif', Georgia, "Times New Roman", serif;
			color: #A6A6A6;
			font-size: 12px;
			font-style: italic;
			}

		#bloc4c
			{
			display: block;
			float: left;
			width: 238px;
			padding-left: 10px;
			padding-top: 19px;
			margin-left: 21px;
			}

		.title2
			{
			font-family: Oswald, arial, serif;
			display: block;
			padding-top: 30px;
			font-weight: bold;
			font-size: 18px;
			color: #e77927;
			}

		#bloc4d
			{
			display: block;
			float: left;
			width: 500px;
			padding-top: 20px;
			}

		#bloc5
			{
			height: 216px;
			color: #767676;
			background-color: #f9f9f9;
			background-image: url("grid1.png");
			background-repeat: repeat;
			border-bottom: 1px solid #F0F0F0;
			margin-bottom: 10px;
			}

		#bloc5a
			{
			display: block;
			float: left;
			width: 208px;
			height: 216px;
			padding-left: 10px;
			padding-top: 19px;
			margin-left: 121px;
			}

		.title_bottom
			{
			display: block;
			width: 221px;
			margin-top: 10px;
			padding-bottom: 10px;
			font-family: Oswald, arial, serif;
			font-size: 14px;
			color: #A6A6A6;
			}

		#contact 
			{
			width: 221px;
			margin-top: 5px;
			list-style: none;
			}

		#contact li 
			{
			list-style-type: none;
			margin-top: 7px;
			padding: 0;
			line-height: 20px;
			font-size: 12px;
			}

		#contact a 
			{
			font-size: 12px;
			color: #9C9C9C;
			}

		#contact #home 
			{
			margin: 0;
			background: url("home_silver.png") left 3px no-repeat;
			padding-left: 25px;
			font-weight: bold;
			}

		#contact #phone 
			{
			background: url("phone_silver.png") left 3px no-repeat;
			padding-left: 25px;
			font-weight: bold;
			}

		#contact #mail 
			{
			background: url("mail_silver.png") left 3px no-repeat;
			padding-left: 25px;
			font-size: 10px;
			}

		#contact #help 
			{
			background: url("help_silver.png") left 3px no-repeat;
			padding-left: 25px;
			}

		#bloc5b
			{
			display: block;
			float: left;
			width: 218px;
			padding-left: 10px;
			padding-top: 19px;
			margin-left: 21px;
			}

		.span2
			{
			display: block;
			width: 195px;
			font-size: 12px;
			line-height: 20px;
			font-weight: bold;
			}

		#bloc5b a
			{
			font-size: 13px;
			color: #9C9C9C;
			font-family: 'Droid Sans', Arial, Helvetica, sans-serif;
			}

		#bloc5c
			{
			display: block;
			float: left;
			width: 238px;
			padding-top: 19px;
			margin-left: 21px;
			}

		#bloc5d
			{
			display: block;
			float: left;
			width: 238px;
			padding-top: 19px;
			}

		#p
			{
			width: 208px;
			margin-top: 5px;
			}

		#footer
			{
			width: 1180px;
			height: 75px;
			border-top: 1px solid #F0F0F0;
			margin-top: 10px;
			margin-left: 0px;
			}

		#footer1
			{
			width: 275px;
			height: 50px;
			padding-top: 20px;
			margin-left: 121px;
			}

		#footer1 a
			{
			font-size: 11px;
			text-decoration: none;
			color: #7c7c7c;
			padding-left: 5px;
			padding-right: 10px;
			}

		.last
			{
			border-right: 1px solid #7c7c7c;
			}

		#copyright
			{
			margin-left: 5px;
			font-size: 11px;
			color: #A9A9A9;
			}

		#icone
			{
			float: right;
			margin-top: -50px;
			margin-right: 135px;
			}
		</style>
	</head>

	<body>
		<%= yield %>
	</body>
</html>